
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

.jumbotron{
    color: gray("100");
    background-color: theme-color("dark");
    padding: 0% 0% 0% 0%;
    margin-bottom: 0%;
    border-radius: 0px;
  }


.parallax {

    /* The image used */
    background-image: url("./assets/img/medicalcenter3.jpg");
  
    /* Set a specific height */
    height: 200px;
    filter: drop-shadow(4px);


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: top;
  }

a{
    color: white;
    text-decoration: none!important;
    
}
a:hover{
    
    color: darkgrey;
    
}